b
{
position:fixed;
background-color:black;
border:0px;
left:2%;
top:2%;
color:#C5CBCD;
font-family:KaiTi;
font-size:15px;
font-weight:700;
}


#transfer
{
position:fixed;
width:100%;
top:0px;
left:0px;
height:6%;
background-color:#000000;
}

#enter
{
position:fixed;
background-color:black;
border:0px;
right:1%;
top:2%;
color:#C5CBCD;
font-family:KaiTi;
font-size:15px;
font-weight:700;
}

#enter:hover
{
position:fixed;
right:1%;
top:2%;
color:#FFFFFF;
font-family:KaiTi;
font-size:15px;
font-weight:700;
}


/* ----------------------------------------------------title div-----------------------------------------*/
#title{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:80px;
	background-color: #1f3f8c;
}

	#titleimage{
		position:absolute;
		height:80px;
		left:100px;
	}


	#title #user{
		position: absolute;
		width:200px;
		height:80px;
		right:100px;
		line-height: 80px;
		color:white;
		font-size:10px;
	}

		#title #user #logout{
			height:18px;
			line-height: 10px;
			width:40px;
			color:white;
			background-color: rgba(1,1,1,0);
			border-left:1px solid white;
			border-top: 0px;
			border-bottom: 0px;
			border-right: 0px;
		}


/* ----------------------------------------------------as activity div-----------------------------------------*/
#deleteactivity{
	position:absolute;
	width:100%;
	min-height: 600px;
	height:auto;
	top:82px;
	left:0px;
	background-color: #fbd453;
}
	
	#deleteactivity #activityname{
		position:absolute;
		width:600px;
		height:30px;
		line-height: 35px;
		left:50%;
		margin-left: -300px;
		top: 60px;
	}

	#deleteactivity #name{
		position:absolute;
		left:0px;
		width:550px;
		height:30px;
		border-radius:6px;
		border:2px solid;
		border-color: rgb(132,172,226);
		color:black;
		font:15px;
	}

	#deleteactivity #activitytype, #activitydepartment, #activitytime, #activityplace, #activitysponsor{
		position:absolute;
		width:120px;
		height:20px;
		line-height: 20px;
		position:absolute;
		top:140px;
	}


	#deleteactivity #activitytype{		
		left:50%;
		margin-left: -400px;
	}

	#deleteactivity #activitydepartment{
		left:50%;
		margin-left: -230px;
	}

	#deleteactivity #activitytime{
		left:50%;
		margin-left: -60px;
	}

	#deleteactivity #activityplace{
		left:50%;
		margin-left: 110px;
	}

	#deleteactivity #activitysponsor{
		left:50%;
		margin-left: 280px;
	}

	#search{
		position:absolute;
		width:30px;
		top:2px;
		left:560px;
	}

	

	#deleteactivity select{
		position:absolute;
		left:0px;
		width:150px;
		border-radius:4px;
		border:2px solid;
		border-color: rgb(132,172,226);
		background-color: white;
	}

	#deleteactivity label{
		position:absolute;
		left:0px;
		width:100px;
	}

	#deleteactivity .input input{
		position:absolute;
		left:0px;
		width:120px;
		height:15px;
		border-radius:4px;
		border:2px solid;
		border-color: rgb(132,172,226);
		background-color: white;
	}



	#deleteactivity #fortype, #deleteactivity #fordepartment{
		position:absolute;
		left:5px;
		color:#666;
		font-size:12px;
	}

	#deleteactivity #fortime, #deleteactivity #forplace, #deleteactivity #forsponsor{
		position:absolute;
		left:5px;
		color:#666;
		font-size:12px;
	}

 	#deleteactivity #forname{
		position:absolute;
		left:5px;
		color:#666;
		font-size:15px;
	}

	/* ----------------------------------------------------table div-----------------------------------------*/
	#mytable{
		position:absolute;
		width:900px;
		height:300px;
		left:50%;
		margin-left: -450px;
		top:200px;
		overflow: scroll;
	}

	table{
		width:100%;
	}

	tr{
		height:30px;
		border:2px solid black;
		font-size:15px;
		color:black;
	}

	thead tr{
		background-color:#3958a3;
		color:white;
	}

	tbody tr {
		background-color:#e9f5ee;
	}

	tbody tr:nth-child(even) {
    	background-color:#c4e0fa;
	}

	tbody tr:hover{
	    background: #d2505a;
		color:white;
	}

	

