table
{
background-color:rgba(255,255,255,0.7);
font-family:KaiTi;
text-align:center;
border:3px solid;
border-color:#005AB5;
}

#info
{
position:fixed;
border:0px;
left:2%;
top:2%;
color:black;
font-family:KaiTi;
font-size:15px;
font-weight:700;
}