b
{
position:fixed;
background-color:black;
border:0px;
left:2%;
top:2%;
color:#C5CBCD;
font-family:KaiTi;
font-size:15px;
font-weight:700;
}


#transfer
{
position:fixed;
width:100%;
top:0px;
left:0px;
height:6%;
background-color:#000000;
}

#enter
{
position:fixed;
background-color:black;
border:0px;
right:1%;
top:2%;
color:#C5CBCD;
font-family:KaiTi;
font-size:15px;
font-weight:700;
}

#enter:hover
{
position:fixed;
right:1%;
top:2%;
color:#FFFFFF;
font-family:KaiTi;
font-size:15px;
font-weight:700;
}

/* ----------------------------------------------------title div-----------------------------------------*/
#title{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:80px;
	background-color: #1f3f8c;
}

	#titleimage{
		position:absolute;
		height:80px;
		left:100px;
	}


	#title #user{
		position: absolute;
		width:200px;
		height:80px;
		right:100px;
		line-height: 80px;
		color:white;
		font-size:10px;
	}

		#title #user #logout{
			height:18px;
			line-height: 10px;
			width:40px;
			color:white;
			background-color: rgba(1,1,1,0);
			border-left:1px solid white;
			border-top: 0px;
			border-bottom: 0px;
			border-right: 0px;
		}

		

/* ----------------------------------------------------homepage main div-----------------------------------------*/
#main{
	position:absolute;
	width:100%;
	height:460px;
	top:82px;
	left:0px;
	background-color: #fbd453;
}

	.icon{
		width:90px;
		border-radius:10px;
		border:3px solid;
	}

		.icon:hover{
			width:100px;
			border-radius:10px;
			border:3px solid;
		}



	#addactivity{
		background-color: #65a944;
		border-color:#65a944;
		position:absolute;
		top:200px;
		left:50%;
		margin-left:-345px;
	}

		#addactivity:hover{
			top:195px;
			margin-left:-350px;
		}		

	#deleteactivity{
		border-color:#dc6847;
		background-color:#dc6847;
		position:absolute;
		top:200px;
		left:50%;
		margin-left:-195px;
	}

		#deleteactivity:hover{
			top:195px;
			margin-left:-200px;
		}


	#signintable{
		border-color:#2429ea;
		background-color:#2429ea;
		position:absolute;
		top:200px;
		left:50%;
		margin-left:-45px;
	}

		#signintable:hover{
			top:195px;
			margin-left:-50px;
		}


	#asactivity{
		background-color: #ec438b;
		border-color:#ec438b;
		position:absolute;
		top:200px;
		left:50%;
		margin-left:105px;
	}

		#asactivity:hover{
			top:195px;
			margin-left:100px;
		}

	#asstudent{
		border-color:#4c05ad;
		background-color:#4c05ad;
		position:absolute;
		top:200px;
		left:50%;
		margin-left:255px;
	}

		#asstudent:hover{
			top:195px;
			margin-left:250px;
		}

	.tip{
		font-size:12px;
		text-align: center;
		height:12px;
		width:100px;
		position:absolute;
		top:175px;
		left:50%;
	}

	#tip1{
		margin-left:-350px;
	}

	#tip2{
		margin-left:-200px;
	}

	#tip3{
		margin-left:-50px;
	}

	#tip4{
		margin-left:100px;
	}

	#tip5{
		margin-left:250px;
	}

/* ----------------------------------------------------note div-----------------------------------------*/
#note{
	width:100%;
	height:100px;
	position:absolute;
	top:544px;
	left:0px;
	background-color: rgb(200,200,200);
}

	#intro{
		position:absolute;
		width:800px;
		left:50%;
		margin-left: -400px;
		top:30px;
		text-align: center;
		color:white;
	}


	